<main class="new-session group">

  <section class="sign-in-promo">
    <div class="sign-in-logo"></div>
    <p class="sign-in-promo-quote"><q>In ancient times cats were worshipped as gods;
      they have not forgotten this.</q><br>
    -Terry Pratchet</p>
    <section class="sign-in-emojis group">
      <img src="#" alt="emoji">
    </section>
  </section>

  <section class="sign-in group">
    <section class="sign-in-form">
      <h1>Log In!</h1>

      <form action="<%= session_url %>" method="POST">
        <%= authenticity_token %>

          <input type="text" name="user[username]" placeholder="Username">

          <input type="password" name="user[password]" placeholder="Password">

          <input type="submit" class="sign-in-button" value="Log In!">
      </form>
    </section>
  </section>
</main>
