<h1>Sign Up!</h1>

<form action="<%= users_url %>" method="POST">
  <%= authenticity_token %>
  <label>Username
    <input type="text" name="user[username]">
  </label>

  <label>Email Address
    <input type="text" name="user[email_address]">
  </label>

  <label>Password
    <input type="password" name="user[password]">
  </label>

  <input type="submit" value="Sign Up!">

</form>
