<main class="new-user group">

  <section class="promo">
    <div class="logo"></div>
    <section class="emojis group">
      <img src="#" alt="emoji">
      <img src="#" alt="emoji">
      <img src="#" alt="emoji">
    </section>
    <p class="promo-quote">Join millions of people getting more organized and productive!</p>
  </section>

  <section class="sign-up group">
    <section class="sign-up-form">
      <h1>Sign up for free.</h1>

      <form action="<%= users_url %>" method="POST">
        <%= authenticity_token %>
          <input type="text" name="user[username]" placeholder="Username">

          <input type="text" name="user[email_address]" placeholder="Email">

          <input type="password" name="user[password]" placeholder="Password">

          <input class="sign-up-button" type="submit" value="Sign Up!">

      </form>
    </section>
  </section>
</main>
