/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, h1, h2, p, form, a, div,
 input, label, main, section, ul, li,
 button {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   box-sizing: inherit;
   background: transparent;
   text-align: inherit;
   text-decoration: inherit;
   color: inherit;
   font: inherit;
 }

 ul {
   list-style: none;
 }

 input {
   border: 1px solid black;
 }

 body {
   font-family: sans-serif;
   font-size: 16px;
 }

 img {
   display: block;
   width: 100%;
   height: auto;
 }

 .group:after {
   display: block;
   content: "";
   clear: both;
 }

/*new user page*/

 .new-user {

 }

.promo {
  background: #0060bf;
  height: 100vh;
  width: 50%;
  float: left;
}

.emojis {
  margin: 0 auto;
  width: 50%;
}

.emojis img {
  margin-top: 200px;
  width: 100px;
  float: left;
}

.promo-quote {
  font-size: 24px;
  color: #ffffff;
  padding: 30px;
  text-align: center;
}

.sign-up {
  height: 100vh;
  float: right;
  width: 50%;
}

.sign-up-form {
  display: block;
  padding-top: 200px;
}

.sign-up-form h1 {
  font-size: 20px;
  font-weight: bold;
  display: block;
  width: 400px;
  margin: auto;
  margin-bottom: 10px;
}

.sign-up-form input {
  font-size: 20px;
  margin: auto;
  margin-top: 12px;
  width: 380px;
  display: block;
  padding: 10px;
}

.sign-up-button {
  color: #ffffff;
  background: #009dff;
  text-align: center;
}

/*new session page*/

.new-session {

}

.sign-in-promo {
 background: #0060bf;
 height: 100vh;
 width: 50%;
 float: left;
}

.sign-in-emojis {
 margin: 0 auto;
 width: 50%;
}

.sign-in-emojis img {
 margin-top: 50px;
 width: 100px;
 float: left;
}

.sign-in-promo-quote {
  width: 400px;
 font-size: 24px;
 color: #ffffff;
 padding-top: 200px;
 margin: 0 auto;
 text-align: left;
}

.sign-in {
 height: 100vh;
 float: right;
 width: 50%;
}

.sign-in-form {
 display: block;
 margin-top: 200px;
}

.sign-in-form h1 {
 font-size: 20px;
 font-weight: bold;
 display: block;
 width: 400px;
 margin: auto;
 margin-bottom: 10px;
}

.sign-in-form input {
 font-size: 20px;
 margin: auto;
 margin-top: 12px;
 width: 380px;
 display: block;
 padding: 10px;
}

.sign-in-button {
 color: #ffffff;
 background: #009dff;
 text-align: center;
}

.sign-up-link {
  float: right;
  display: block;
  background: lightgray;
  width: 110px;
  padding: 5px 8px;
  margin-right: 120px;
  margin-top: 45px;
  border-radius: 5px;
  text-align: center;
}
