.header-bar {
  font-family: 'Happy Monkey', cursive;
  background: #0060bf;
  position: fixed;
  /*width: 1275px;*/
  width: 100%;
  z-index: 1;
}

.logout-button {
  margin-top: 4px;
  background: #ffffff;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.logout-button:hover {
  background: black;
  color: white;
}

.user-section {
  width: 65px;
  margin-right: 5px;
  float: right;
}

.user-section li {
  float: left;
}
