.header-bar {
  background: #0060bf;
  position: fixed;
  /*width: 1275px;*/
  width: 100%;
  z-index: 1;
}

.logout-button {
  margin-top: 2px;
  margin-bottom: 2px;
  background: #ffffff;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.user-section {
  width: 65px;
  float: right;
}

.user-section li {
  float: left;
}
