.logo {
  display: block;
  width: 325px;
  height: 152px;
  background-image: asset_url("cat-logo.jpg");
  margin: 0 auto;
}

.sign-in-logo {
 display: block;
 width: 325px;
 height: 152px;
 background-image: asset_url("cat-logo.jpg");
 margin: 0 auto;
}

.side-bar-logo {
  margin: 0 auto;
  display: block;
  width: 175px;
  height: 85px;
  margin-bottom: 15px;
  background-image: asset_url("side-bar-logo.jpg")
}

.error-alert-img {
  background-image: asset_url("exclamation.png");
  background-size: contain;
  width: 25px;
  height: 25px;
  display: block;
  position: absolute;
  left: 12px;
  top: 6px;
}

.list-error-alert-img {
  background-image: asset_url("exclamation.png");
  background-size: contain;
  width: 15px;
  height: 15px;
  display: block;
  position: absolute;
  left: 12px;
  top: 6px;
}

.location-error-alert-img {
  background-image: asset_url("exclamation.png");
  background-size: contain;
  width: 15px;
  height: 15px;
  display: block;
  position: absolute;
  left: 12px;
  top: 6px;
}

.checkmark {
  background-image: asset_url("checkmark.png");
  background-size: contain;
  min-width: 30px;
  min-height: 30px;
}

.trashcan {
  background-image: asset_url("trashcan.png");
  background-size: contain;
  min-width: 30px;
  min-height: 30px;
}

.pencil {
  background-image: asset_url("pencil.png");
  background-size: contain;
  min-width: 30px;
  min-height: 30px;
}
