.location-modal {
  width: 332px;
  height: 250px;
  padding: 35px;
  margin: 0 auto;
  margin-top: 150px;
}

.add-location-button {
  float: right;
  color: #3c4248;
  padding: 1px;
  margin-right: 2px;
  font-size: .6875rem;
  font-weight: normal;
  border-radius: 3px;
  background: #c8dcf1;
}

.add-location-button:hover {
  float: right;
  color: #c8dcf1;
  padding: 1px;
  margin-right: 2px;
  font-size: .6875rem;
  font-weight: normal;
  border-radius: 3px;
  background: #3c4248;
  cursor: pointer;
}

.new-location-header {
  font-size: 1.125rem;
  margin-bottom: 15px;
}

.new-location-form {

}

.new-location-form  input {
  display: block;
  width: 286px;
  padding: 5px 6px;
  border: 1px solid #d0d3d6;
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.new-location-form > label {
  font-size: .8125rem;
}

.new-location-form > button {
  float: left;
}

.new-location-add-button {
  margin-right: 10px;
  border-radius: 3px;
  display: block;
  color: white;
  padding: 10px 20px;
  margin-top: 35px;
  font-weight: bold;
  font-size: 13px;
  background: #3f95ec;
  cursor: pointer;
}

.new-location-cancel-button {
  border-radius: 3px;
  display: block;
  padding: 10px 15px;
  margin-top: 35px;
  color: black;
  font-weight: bold;
  font-size: 13px;
  background: #f4f4f4;
  cursor: pointer;
}


.location-error-alert {
  background-color: rgba(234, 82, 0, 0.15);
  font-size: 14px;
  width: 240px;
  padding: 5px 6px;
  margin: 0 auto;
  position: absolute;
  bottom: 78px;
  left: 20px;
  border-radius: 3px;
  text-align: right;
}

.location-error-alert-hidden {
  display: none;
}
