.add-list-button {
  float: right;
  color: #3c4248;
  padding: 1px;
  margin-right: 2px;
  font-size: .6875rem;
  font-weight: normal;
  border-radius: 3px;
  background: #c8dcf1;
}

.add-list-button:hover {
  float: right;
  color: #c8dcf1;
  padding: 1px;
  margin-right: 2px;
  font-size: .6875rem;
  font-weight: normal;
  border-radius: 3px;
  background: #3c4248;
  cursor: pointer;
}

.edit-list-button {
  padding: 10px 15px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid;
  border-color: #80bdfc;
  background: #0060bf;
  margin-top: 3px;
  margin-right: 3px;
  margin-bottom: 3px;
  cursor: pointer;
  float: right;
}

.new-list-header {
  font-size: 1.125rem;
  margin-bottom: 20px;
}

.new-list-form {

}

.new-list-form  input {
  display: block;
  width: 300px;
  padding: 5px 6px;
  border: 1px solid #d0d3d6;
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.new-list-form > label {
  font-size: .8125rem;
}

.new-list-form > button {
  float: left;
}

.new-list-add-button {
  margin-right: 10px;
  border-radius: 3px;
  display: block;
  color: white;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 13px;
  background: #3f95ec;
  cursor: pointer;
}

.new-list-cancel-button {
  border-radius: 3px;
  display: block;
  padding: 10px 15px;
  color: black;
  font-weight: bold;
  font-size: 13px;
  background: #f4f4f4;
  cursor: pointer;
}
