.add-location-button {
  float: right;
  color: #3c4248;
  padding: 1px;
  margin-right: 2px;
  font-size: .6875rem;
  font-weight: normal;
  border-radius: 3px;
  background: #c8dcf1;
}

.add-location-button:hover {
  float: right;
  color: #c8dcf1;
  padding: 1px;
  margin-right: 2px;
  font-size: .6875rem;
  font-weight: normal;
  border-radius: 3px;
  background: #3c4248;
  cursor: pointer;
}

.location-error-alert {
  background-color: rgba(234, 82, 0, 0.15);
  font-size: 14px;
  width: 240px;
  padding: 5px 6px;
  margin: 0 auto;
  position: absolute;
  bottom: 41px;
  right: 5px;
  border-radius: 3px;
  text-align: right;
}

.location-error-alert-hidden {
  display: none;
}
