.wrapper {
  position: relative;
}

.sidebar {
  margin-top: 36px;
  position: fixed;
  height: 100vh;
  background: #e4eef8;
  width: 210px;
  float: left;
  font-size: 14px;
}

.sidebar h2 {
  padding: 0px 23px;
}

.sidebar ul {
  width: 180px;
  margin-top: 5px;
  padding: 2px 8px;
}

.sidebar li {
  padding: 4px 0px;
  padding-left: 15px;
}

.sidebar-list-items > div > li:hover {
  background: #bcd5ee;
  cursor: pointer;
}

.sidebar li:hover {
}

.badge {
  float: right;
  color: #3c4248;
  padding: 1px;
  margin-right: 2px;
  font-size: .6875rem;
  font-weight: normal;
  border-radius: 3px;
  background: #c8dcf1;
}

.divider {
  padding: 15px 0px 0px 0px;
  border-bottom: 1px solid #BFD9F1;
}

.lists-index {
  padding: 15px 0px 0px 0px;
}
