.task-index {
  margin-left: 210px;
  width: 1050px;
  position: relative;
}

.list-of-tasks {
  float: left;
}

.task-index-item {
  width: 530px;
  font-size: 13px;
  border-bottom: 1px solid black;
  padding: 10px;
}

.task-index-item:hover {
  cursor: pointer;
  background: #FFFFCC
}

.task-new {
  position: relative;
  border-top: 1px solid black;
  border-bottom: 1px solid black;

  float: left;
  display: block;
  width: 548px;
  font-size: 14px;
}

.task-edit-form {
  width: 300px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.task-edit-input-grouping {
  float: left;
  width: 300px;
  margin-top: 3px;
  margin-left: 3px;
}

.task-edit-input-grouping input {
  float: right;
  margin-right: 6px;
}

.update-task {
  padding: 10px 15px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid;
  border-color: #80bdfc;
  background: #0060bf;
  margin-top: 3px;
  margin-right: 3px;
  margin-bottom: 3px;
  cursor: pointer;
  float: right;
}

.task-new button {
  margin-left: 10px;
}

.task-new-name-no-input {
  width: 518px;
  padding: 5px;
  color: #999;
  margin: 10px;
  border: 1px solid #d0d3d6;
  display: block;
}

.task-new-name-input {
  width: 518px;
  padding: 5px;
  color: black;
  margin: 10px;
  border: 1px solid #4c8fd2;
  display: block;
}

.hidden-button {
  display: none;
}

.show-button {
  float: left;
  display: block;
  padding: 4px;
  cursor: pointer;
  margin-bottom: 5px;
}


.task-form-hidden {
  display: none;
}

.task-form-show {
  padding: 4px;
  float: right;
  display: block;
}

.task-new-input-grouping {
  float: left;
  width: 500px;
}

#start-date-button-text {
  position: absolute;
  opacity: 0;
}

#start-date-button:hover~#start-date-button-text {
  opacity: 1;
  bottom: 0px;
  left: 0px;
  background: black;
  color: white;
  font-weight: bold;
  font-size: 12px;
  padding: 5px;
}

#due-date-button-text {
  position: absolute;
  opacity: 0;
}

#due-date-button:hover~#due-date-button-text {
  opacity: 1;
  bottom: 0px;
  left: 0px;
  background: black;
  color: white;
  font-weight: bold;
  font-size: 12px;
  padding: 5px;
}

#priority-button-text {
  position: absolute;
  opacity: 0;
}

#priority-button:hover~#priority-button-text {
  opacity: 1;
  bottom: 0px;
  left: 0px;
  background: black;
  color: white;
  font-weight: bold;
  font-size: 12px;
  padding: 5px;
}

#estimate-button-text {
  position: absolute;
  opacity: 0;
}

#estimate-button:hover~#estimate-button-text {
  opacity: 1;
  bottom: 0px;
  left: 0px;
  background: black;
  color: white;
  font-weight: bold;
  font-size: 12px;
  padding: 5px;
}

#photo-button-text {
  position: absolute;
  opacity: 0;
}

#photo-button:hover~#photo-button-text {
  opacity: 1;
  bottom: 0px;
  left: 0px;
  background: black;
  color: white;
  font-weight: bold;
  font-size: 12px;
  padding: 5px;
}


.add-task {
  padding: 10px 15px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid;
  border-color: #80bdfc;
  background: #0060bf;
  cursor: pointer;
  float: right;
}

.task-detail {
  background: white;
  z-index: 1;
  top: 36px;
  bottom: 0px;
  right: 0px;
  width: 500px;
  border: 1px solid black;
  position: fixed;
}

.task-images {
  width: 200px;
}

.index-tabs {
  margin-top: 60px;
  float: right;
  margin-right: 502px;
}

.unselected-tab {
  color: #0060bf;
}

.index-tabs > li {
  padding: 5px 15px;
  float: left;
}

.index-tabs > li:hover {
  cursor: pointer;
}


.selected-tab {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  color: black;
  font-weight: bold;
}

.task-statistics {
  background: #e4eef8;
  bottom: 0px;
  padding-top: 20px;
  top: 36px;
  right: 0px;
  width: 500px;
  border-left: 1px solid black;
  position: fixed;
}

.task-statistics > h2 {
  margin-top: 20px;
  font-size: 16px;
}

.task-statistics > ul {
  margin-left: 15px;
}

.task-statistics > ul > li {
  padding: 15px;
  width: 30px;
  background: #dbe8f6;
}

.task-number {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: #0060bf;
}

.update-task-button {
  float: right;
  background: yellow;
}

.delete-task-button {
  float: right;
  background: red;
}
