.task-index {
  margin-left: 210px;
  width: 1050px;
  position: relative;
}

.task-index > ul {
  float: left;
}

.task-index-item {
  width: 530px;
  font-size: 13px;
  border-top: 1px solid black;
  padding: 10px;
}

.task-index-item:hover {
  cursor: pointer;
  background: #FFFFCC
}

.task-new {
  display: block;
  width: 530px;
  font-size: 14px;
  border: 1px solid black;
  margin-bottom: 5px;
}

.task-new input {
  display: block;
}

.task-new button {
  padding: 10px 15px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid;
  border-color: #80bdfc;
  background: #0060bf;
  cursor: pointer;
  float: right;
}

.task-new-name {
  width: 518px;
  padding: 5px;
}

.task-detail {
  top: 0px;
  right: 0px;
  width: 480px;
  border: 1px solid black;
  position: absolute;
}
